* {
    margin: 0;
    color: gray;
}

.container {
    width: 960px;
    margin: auto;
    overflow: hidden;
}


.header {
    margin-top: 20px;
    color: gray;
    
}




ul {
    border-top: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
    padding: 20px 0;
}

li {
    list-style-type: none;
    display: inline;
    margin: 0 10px 0 10px;
    font-weight: bold;
}

li:hover {
    color: orange;
    cursor: pointer;
}

#box {
    margin: auto;
    width: 30%;
    float: left;
    padding: 1%;
    margin-right: 12px;
}

.btitle {
    
    font-weight: bold;
    padding-bottom: 7px;
    border-bottom: 1px solid darkgrey;
}

.bimg {
    margin-top: 10px;
    border: 1px solid darkgrey;
    margin-right: 10px;
    padding: 5px;
    float: left;
}

.btext {
    margin-top: 10px;
    text-align: justify;
}

.bread {
    color: orange;
    float: right;
}


.mainimg {
    margin-top: 30px;
    border: 1px solid darkgrey;
    padding:8px;

}

.mainimg:hover {
    border-color: orange;
}
.footer {
    color: gray;
    border-top: 1px solid darkgray;
    padding: 20px 0;
    margin-top: 10px;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

span a {
    text-decoration: none;
    color: gray;
}
